[Llibreries i caches]
Library/
Temp/
Obj/
Build/
Builds/
Logs/

# Fitxers d'usuari
UserSettings/

# Visual Studio / IDE
.vs/
.vscode/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs

# Build results
*.apk
*.aab
*.exe
*.app

# Crash reports
*.stacktrace